{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Add App{% endblock %}</h1>
{% endblock %}
{% block content %} <form method="post" id="main_form">
  <label for="name">App Selection</label>
  <select id=name name="name">
  {% if custom_apps_list %}
    <optgroup label="Custom Apps"></optgroup>
    {% for app in custom_apps_list %}
    <option value="{{app['name'].replace('.star','')}}">{{app['name'].replace('.star','')}} - {{app['summary']}}</option>
    {% endfor %}
    </optgroup>
    <hr>
  {% endif %}
  <optgroup label="System Apps"></optgroup>
    {% for app in apps_list %}
      <option value="{{app['name'].replace('.star','')}}">{{app['name'].replace('.star','')}} - {{app['summary']}}</option>
    {% endfor %}
  </optgroup>
  </select>
<br>
<label for="uinterval">Render Interval (minutes)</label>
<input name="uinterval" id="uinterval" value="{{ request.form['uinterval'] or 60}} " required>

<label for="notes">Notes</label>
<textarea name="notes" id="notes">{{ request.form['notes'] }}</textarea>

</form>
<input type="submit" value="Configure" class="w3-button w3-green" onclick="move()"></input>
<div class="w3-light-grey">
  <div id="myBar" class="w3-container w3-green" style="height:24px;width:1%;visibility: hidden"></div>
</div>

<script>
function move() {
  var elem = document.getElementById("myBar");
  var myform = document.getElementById("main_form");
  elem.style.visibility = "visible";
  var width = 1;
  var id = setInterval(frame, 20);
  function frame() {
    if (width >= 100) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
    }
  }
  myform.submit();

}
</script>
{% endblock %}