{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Edit "{{ app['iname'] }}"{% endblock %}</h1>
{% endblock %}
{% block content %} <form method="post">
<label for="iname">Installation Id (eg. clock1)</label>
<input name="iname" id="iname" value="{{ request.form['iname'] or app['iname'] }}" readonly> 
<label for="name">App Name (eg. analogclock)</label>
<input name="name" id="name" value="{{ request.form['name'] or app['name'] }}" required> 

<label for="uinterval">Render Interval (minutes)</label>
<input name="uinterval" id="uinterval" value="{{ request.form['uinterval'] or app['uinterval'] }}" required>
<input name="display_time" id="display_time" value="{{ request.form['display_time'] or 10}}">
<label for="enabled">Enabled: </label>
<input name="enabled" type="checkbox" {% if app['enabled'] == "true" %} checked {% endif %}></input> 
<textarea name="notes" id="notes">{{ request.form['notes'] or app['notes'] }}</textarea>

<input type="submit" value="Save">
</form>
<form action="{{ url_for('manager.deleteapp', id=device_id,iname=app['iname']) }}" method="post">
<input class="danger" type="submit" value="Delete" onclick="return confirm('Delete App?');">
</form>
{% endblock %}