{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Edit "{{ device['name'] }}"{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="post">
<input type="hidden" name="id" id="id" value="device['id']">
<label for="name">Name</label>
<input name="name" id="name"
value="{{ request.form['name'] or device['name'] }}" required>
<span><label for="img_url">Image URL</label></span>
{% if not device['img_url'].startswith('http') %}
<input name="img_url" id="img_url" value="{{ server_root }}{{ device['img_url'] }}">
{% else %}
<input name="img_url" id="img_url" value="{{ device['img_url'] }}">
{% endif %}
  <label for="default_interval">App Cycle Time (Seconds)</label>
  <output>{{ device['default_interval'] }}</output>
  <input type="range" name="default_interval" id="default_interval" min="1" max="30"
    value="{{ device['default_interval'] }}" oninput="this.previousElementSibling.value = this.value">

<span><label for="brightness">Brightness</label></span><output>{{ device['brightness'] }}</output>
<input type="range" name="brightness" id="brightness" min="0" max="100" value="{{ device['brightness'] }}"
    oninput="this.previousElementSibling.value = this.value">


<span><label for="night_brightness">Night Brightness</label></span><output>{{ device['night_brightness'] or 10 }}</output>

<input type="range" name="night_brightness" id="night_brightness" min="0" max="100" value="{{ device['night_brightness'] or 10 }}"
    oninput="this.previousElementSibling.value = this.value">

<span><label for="night_start">Night Start Hour (24hr) (-1 for disabled)</label></span>
<div>
    <input type="number" name="night_start" id="night_start" min="-1" max="24" value="{{ device['night_start'] or -1 }}">
</div>
<span>
  <label for="installed_apps">Night Mode App:</label>
  <select name="night_mode_app" id="night_mode_app">
    <option value="None">
    {% for app in device['apps'].values() %}
      <option value="{{ app['iname'] }}" {% if 'night_mode_app' in device and device['night_mode_app'] == app['iname'] %}selected{% endif %}>
        {{ app['iname'] }} {{ app['name'] }}
      </option>
    {% endfor %}
  </select>
</span>
<label for="body">Notes</label>
<input name="notes" id="notes" value="{{ request.form['notes'] or device['notes'] }}">
<label for="api_key">API Key </label>
<input name="api_key" id="api_key" value="{{ request.form['api_key'] or device['api_key'] }}">
<input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('manager.delete', id=device['id']) }}" method="post">
<input class="danger" type="submit" value="Delete" onclick="return confirm('Delete device and ALL apps ?');">
</form>
{% endblock %}