{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Edit "{{ device['name'] }}"{% endblock %}</h1>
{% endblock %}
{% block content %}
<form method="post">
<input type="hidden" name="id" id="id" value="device['id']">
<label for="name">Name</label>
<input name="name" id="name"
value="{{ request.form['name'] or device['name'] }}" required>
<label for="api_id">API ID</label>
<input name="api_id" id="api_id"
value="{{ request.form['api_id'] or device['api_id'] }}" required>
<label for="api_key">API KEY</label>
<textarea name="api_key" id="api_key" rows="6">{{ request.form['api_key'] or device['api_key'] }}</textarea>
<label for="body">Notes</label>
<input name="notes" id="notes" value="{{ request.form['notes'] or device['notes'] }}">
<input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('manager.delete', id=device['id']) }}" method="post">
<input class="danger" type="submit" value="Delete" onclick="return confirm('Delete device and ALL apps ?');">
</form>
{% endblock %}