<!doctype html>
<title>{% block title %}{% endblock %}Tidbyt Manager (Beta)</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1 class="w3-sans-serif">Tidbyt Manager (Beta)</h1> <ul>
        {% if g.user %}
            <li><a href="{{ url_for('manager.index') }}">Home</a></li>
            {% if g.user['username'] == 'admin' %}<li><a href="{{ url_for('auth.register') }}">Create User</a>{% endif %}
            <li><a href="{{ url_for('auth.edit') }}">{{ g.user['username'] }}</a>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %} </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div> {% endfor %}
    {% block content %}{% endblock %}
</section>