{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}New Tidbyt Device{% endblock %}</h1>
{% endblock %}
{% block content %} <form method="post">
<label for="name">Name</label>
<input name="name" id="name" value="{{ request.form['name'] }}" required> 
<label for="api_id">Device ID</label>
<input name="api_id" id="api_id" value="{{ request.form['api_id'] }}" required> 
<label for="api_key">Device API KEY</label>
<input name="api_key" id="api_key" value="{{ request.form['api_key'] }}" required> 
<textarea name="notes" id="notes">{{ request.form['notes'] }}</textarea>
<input type="submit" value="Save">
</form>
{% endblock %}