{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('manager.create') }}">New Tidbyt</a>
{% endif %}
{% endblock %}
{% block content %}
{% for device in devices %}
<article class="post">
<header>
<div>
<h1>{{ device['name'] }}</h1>
<a class="action" href="{{ url_for('manager.update', id=device['id']) }}">Edit</a>
</header>
<p class="body">API ID: {{ device['api_id'] }}</p>
<p class="body">API KEY: {{ device['api_key'] }}</p>
{% if device['notes'] != '' %}
<p class="body">Notes: {{ device['notes'] }}</p>
{% endif %}
{% if 'apps' in device %}
        {% for app in device['apps'].values() %}
        <table width="100%"><tr width="100%"><td><ul>
        <li>
        <div class="post">
            <header>
            <h1>{{ app['iname'] }}</h1>&nbsp(installation id)
            <a class="action" href="{{ url_for('manager.updateapp', id=device['id'], iname=app['iname']) }}">Edit</a>
            <a class="action" href="{{ url_for('manager.configapp', id=device['id'], iname=app['iname']) }}">Configure</a>
            <a class="action" onclick="return confirm('Delete App ?');" href="{{ url_for('manager.deleteapp', id=device['id'],iname=app['iname']) }}">Delete</a>
            <h3>{% if app['enabled'] == "true" %}<enabled>( Enabled )</enabled>{% else %}<disabled>( Disabled ){% endif %}</disabled></h3>
            </header>
            <p class="body">App: {{ app['name'] }}</p>
        <p class="body">Update Interval (secs): {{ app['uinterval'] }}</p>
        <p class="body">Display Time (secs): {{ app['display_time'] }}</p>
        {% if app['notes'] != '' %}
        <p class="body">Notes: {{ app['notes'] }}</p>
        {% endif %}</td>
        <td><img width=400 src="{{url_for('manager.appwebp', id=device['id'],iname=app['iname']) }}" alt="Preview" >
        </div>
        </li>
    </td></tr></table>

{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
</ul>
{% endif %}
<a class="action" href="{{ url_for('manager.addapp', id=device['id']) }}">Add App</a>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}