{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Tidbyts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('manager.create') }}">New Tidbyt</a>
{% endif %}
{% endblock %}
{% block content %}
{% for post in devices %}
<article class="post">
<header>
<div>
<h1>{{ post['name'] }}</h1>
<a class="action" href="{{ url_for('manager.update', id=post['id']) }}">Edit</a>
</header>
<p class="body">{{ post['api_id'] }}</p>
<p class="body">{{ post['api_key'] }}</p>
<p class="body">{{ post['notes'] }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}